body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .searchContainer{
  display: flex;
  height: fit-content;
  text-align: center;
  width: 35em;
  align-items: center;
}

.searchContainer.center {
  flex-direction: column;
  margin: auto;
  
}
.searchContainer.top {
  margin: 0 auto;
  flex-direction: row;
} */